.App {
  text-align: center;
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.menu {
  background-color: #677699;
  min-height: 100vh;
  display: flex;
  flex: 1 0 300px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.display-info {
    flex: 1 0 300px;
}

.display-info-balance {
   color: teal;
 }

button {
    background: teal;
    color: aliceblue;
    margin: 1rem;
    padding: 1rem;
    border: 2px #619aab solid;
    border-radius: 15px;
}

